.modal-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.45);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal{
    width:420px;
    background:white;
    border-radius:12px;
    padding:30px;
}

.modal h2{
    margin-bottom:25px;
}

.modal label{
    display:block;
    margin-top:15px;
    margin-bottom:6px;
}

.modal input{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
}

.buttons{
    margin-top:25px;
    display:flex;
    justify-content:flex-end;
    gap:15px;
}

.cancel{
    background:#ddd;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}

.save{
    background:#387ed1;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}