.image-modal-overlay{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.55);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.image-modal{

    width:420px;

    background:white;

    border-radius:18px;

    padding:30px;

    text-align:center;

    animation:fade .25s;
}

.preview-avatar{

    width:180px;
    height:180px;

    border-radius:50%;

    object-fit:cover;

    margin:25px auto;
}

.image-modal-buttons{

    display:flex;

    justify-content:center;

    gap:20px;
}

.cancel-btn{

    padding:10px 22px;

    border:none;

    border-radius:8px;

    background:#eee;

    cursor:pointer;
}

.save-btn{

    padding:10px 22px;

    border:none;

    border-radius:8px;

    background:#387ed1;

    color:white;

    cursor:pointer;
}

@keyframes fade{

from{

transform:scale(.9);
opacity:0;

}

to{

transform:scale(1);
opacity:1;

}

}